sudo: required
dist: precise
group: edge

language: java
jdk:
  - oraclejdk8

# whitelist
branches:
  only:
    - dev
  except:
    - v-dev

before_install:
  - mvn validate

install:
  - make all


cache:
  directories:
    - $HOME/.m2
    - /usr/bin

before_deploy:
  # Clean the v-dev release and tag we are using to release development version in CI
  - sudo wget https://github.com/simonedavico/benchflow/raw/dev/ci/clean_v-dev_release.sh -O /usr/bin/clean_v-dev_release.sh
  - sudo chmod +x /usr/bin/clean_v-dev_release.sh
  - export REPO_NAME=faban-drivers-maker
  - export USER_NAME=simonedavico
  - /usr/bin/clean_v-dev_release.sh

deploy:
  provider: releases
  api_key:
    secure: $GITHUB_ACCESS_TOKEN
  file:
    - target/benchflow-drivers-maker.jar
  skip_cleanup: true
  on:
    tags: false
    repo: simonedavico/faban-drivers-maker
    branch: dev
